<%include partials/header%>

<section class="firstSection">
<div class="wrapper">
    <div class="welcome">
        <h1 class="heading1">Online Book Store</h1>
        <h3 class="heading3">Follow people with reading taste as yours.</h3>
    </div>
        <a class="priBtn" href="/user/signup">Create an Account</a>   
</div>
</section>

<section class="cardSection">
    <div class="label">
        <h3>Top Sellers</h3>
    </div>
    <div class="cards">
        <div class="card">
            <div class="leftCard">
                <img class="image" src="images/9781785152207.jpg">
            </div>
            <div class="rightCard">
                <h4 class="bookTitle">The bookTitle</h4>
                <h5 class="authorName">By authorName</h5>
                <h5 class="category">category</h5>
                <div class="rating">
                    <img src="assets/icons/star.svg">
                    <img src="assets/icons/star.svg">
                    <img src="assets/icons/star.svg">
                    <img src="assets/icons/star.svg">
                    <img src="assets/icons/star.svg">
                </div>
                <div class="price">
                    <h5 class="oldPrice">150 SDG</h5>
                    <h5 class="newPrice">80 SDG</h5>
                </div>
                <a class="secBtn" href="#">
                    <img src="assets/icons/shopping-cart.svg">
                    <span class="addtocart" >Add to cart</span>
                </a>       
            </div>     
        </div>
        <div class="card">
            <div class="leftCard">
                <img class="image" src="images/9781471176357.jpg">
            </div>
            <div class="rightCard">
                <h4 class="bookTitle">The bookTitle</h4>
                <h5 class="authorName">By authorName</h5>
                <h5 class="category">category</h5>
                <div class="rating">
                    <img src="assets/icons/star.svg">
                    <img src="assets/icons/star.svg">
                    <img src="assets/icons/star.svg">
                    <img src="assets/icons/star.svg">
                    <img src="assets/icons/star.svg">
                </div>
                <div class="price">
                    <h5 class="oldPrice">150 SDG</h5>
                    <h5 class="newPrice">80 SDG</h5>
                </div>
                <a class="secBtn" href="#">
                    <img src="assets/icons/shopping-cart.svg">
                    <span class="addtocart" >Add to cart</span>
                </a>   
            </div>     
        </div>
        <div class="card">
            <div class="leftCard">
                <img class="image" src="images/9780241349571.jpg">
            </div>
            <div class="rightCard">
                <h4 class="bookTitle">The bookTitle</h4>
                <h5 class="authorName">By authorName</h5>
                <h5 class="category">category</h5>
                <div class="rating">
                    <img src="assets/icons/star.svg">
                    <img src="assets/icons/star.svg">
                    <img src="assets/icons/star.svg">
                    <img src="assets/icons/star.svg">
                    <img src="assets/icons/star.svg">
                </div>
                <div class="price">
                    <h5 class="oldPrice">150 SDG</h5>
                    <h5 class="newPrice">80 SDG</h5>
                </div>
               <a class="secBtn" href="#">
                    <img src="assets/icons/shopping-cart.svg">
                    <span class="addtocart" >Add to cart</span>
                </a>   
            </div>     
        </div>
    </div>
</section>

<section class="preorder">
    
    <%Object.keys(books).forEach(function(book){%>
        <h1>book</h1>
    <%})%>
    
</section>
<% include partials/footer%>